.posts-section {
    border: 1px solid black;
    margin: 10px;
}

.posts {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.posts-article {
    border: 1px solid black;
}