.posts-section {
    border: 3px double rgba(0, 0, 0, 0.404);
    
    margin: 20px;
}

.card {
    margin-bottom: 20px;
    box-shadow: 2px;
    background-color: rgb(239, 243, 210);
}

.card-footer {
    align-items: flex-end;
}
