.topnav {
    overflow: hidden;
    position: sticky;
    top: 0;
    min-width: 100%;
    background-color: #023428;
  }
  
  .topnav a {
    color: white;
    text-align: center;
    padding: 8px 14px;
    text-decoration: none;
    font-size: 25px;
    
  }
  
  .topnav a:hover {
    color: rgb(103, 206, 133);
    transform: scale(1.2);
  }
  
  .nav-left {
    float: left;
    font-size: 100px;
  }
  
  .nav-right {
    float: right;
  }