.posts-section {
    border: 0.188 double rgba(0, 0, 0, 0.404);
    
    margin: 1.25rem 0rem;
}

.posts-section h3 {
    color: #bdbaba;
}

.category {
    text-align: left;
    margin-left: 3.75rem;
    color: #646060;
}

.card {
    margin-bottom: 1.25rem;
}

.container {
    max-width: 72.5rem !important;
}

.card-footer {
    color: #474242;
    display: flex;
}
